.git/
.config/
.devcontainer/
.github/
.npm-cache/
.tmp-build/
.vs/

Dockerfile
docker-compose*.yml
.dockerignore

client/dist/
client/node_modules/

.env
.gitignore

*.log
**/bin/
**/obj/

server/wwwroot/
server/appsettings.Development.json
