.git/
.vs/
.config/
.tmp-build/
.npm-cache/

Dockerfile
docker-compose*.yml
*.log

client/node_modules/
client/dist/

**/bin/
**/obj/
server/bin/
server/obj/
server/wwwroot/
server/appsettings.Development.json
server/*.log
